<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Photography</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  </head>
  <body>
      <div class="ui fixed inverted menu">
          <div class="ui container">
              <div class="header item"><i class="camera retro icon"></i>Photography</div>
              <a href="/home" class="item">Home</a>
              <% if(currentUser){ %>
                <div class="right menu"> 
                  <a href="/account" class="item">Account</a>
                  <a href="/logout" class="item">Logout</a>
                </div>
              <% } %>
              <% if(!currentUser){%>
                <div class="right menu">
                  <a href="/login" class="item">Login</a>
                  <a href="/register" class="item">Register</a>
                </div>
              <% } %>
          </div>
      </div>