<% include partials/header %>

<div class="ui container main">
    <div class="ui grid">
        <% allUsers.forEach(function(user){
            if(user.album && user.album.length > 0){%>
                <div class="ui segment eight wide column">
                    <img class="ui avatar image" src=<%=user.profile.photo%>><span><%=user.profile.first_name %> <%=user.profile.last_name%></span>
                    <hr>
                    <div class="ui tiny images">
                        <% user.album.forEach(function(album){ %>
                            <% album.photo.forEach(function(photo){ %>
                                <img class="ui image" src=<%= photo.url %>>        
                            <% }) %>
                        <% }) %>
                    </div>
                </div>
            <% }
        }); %>
    </div>
    
</div>

<% include partials/footer %>
